/* Puzzle.css */

.puzzle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.puzzle-board {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(4, 80px);
  gap: 3px;
}

.puzzle-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #FCE4EC;
  border: 1px solid #23201f;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  border-radius: 51px;
  transition: background-color 0.3s, transform 0.3s;
  background-image: linear-gradient(to right, #d77272 1px, transparent 1px), linear-gradient(to bottom, #2aa430 1px, transparent 1px);
  box-shadow: 0 0 10px rgb(21 225 41 / 97%);

}

.puzzle-tile:hover {
  background-color: rgb(21 225 41 / 97%); 
}

.puzzle-tile.empty {
  background-color: transparent;
  border: none;
  cursor: default;
}

.puzzle-info {
  margin-top: 20px;
}

.reset-button {
  border: none;
  padding: 12px 9px;
  cursor: pointer;
  margin-top: 25px;
  font-size: 1rem;
  color: #FCE4EC;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #353b69;
  transform: translate(0%, -50%);
  box-shadow: 0 0 15px rgb(21 225 41 / 97%);
}

.reset-button:hover {
  background-color: #0056b3;
}

.solved-message {
  margin-top: 10px;
  font-size: 20px;
  color: green;
}
.back-button-pzzl{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
    font-size: 1rem;
    color: #FCE4EC;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #353b69;
    transform: translate(0%, -50%);
    box-shadow: 0 0 15px rgb(21 225 41 / 97%);
  }
  .moves {
    padding: 8px 5px;
    margin-top: 20px;
    font-size: 1rem;
    color: #FCE4EC;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #353b69;
    transform: translate(0%, -50%);
    box-shadow: 0 0 15px rgb(21 225 41 / 97%);
}