/* Tetris.css */

.tetris-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #353b69;
  background-image: linear-gradient(to right, #d77272 1px, transparent 1px), 
                    linear-gradient(to bottom, #2aa430 1px, transparent 1px);
  background-size: 25% 14%;
  box-shadow: 0 0 15px rgb(21 225 41 / 75%);
}

.tetris-body {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 75vh;
  overflow: hidden; /* Ensure no overflow */
  background-color: #353b69;
  background-image: linear-gradient(to right, #d77272 1px, transparent 1px), 
                    linear-gradient(to bottom, #2aa430 1px, transparent 1px);
  background-size: 25% 14%;
  box-shadow: 0 0 10px rgb(21 225 41 / 75%);
}

.tetris-board {
  background-color: #1a1a1a;
  box-shadow: 0 0 20px #2d317480;
  display: flex;
  flex-direction: column;
  height: 75vh;
  overflow: hidden;
}

.tetris-row {
  display: flex;
}

.tetris-cell {
  width: 34px;
  height: 23.7px;
  border: 1px solid #555;
}

.tetris-cell.filled {
  border-color: #000;
}

.scoreboard-tetris {
  margin-bottom: 5px;
  color: white;
  text-align: center;
}



.scoreboard-tetris .back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.scoreboard-tetris .score {
  font-size: 24px;
  font-weight: bold;
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
}

.game-over p {
  font-size: 24px;
  margin-bottom: 10px;
}

.game-over button {
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  background-color: #444;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.game-over button:hover {
  background-color: #555;
}

.footer {
  text-align: center;
  box-shadow: 0 0 10px rgb(21 225 41 / 75%);

}

.footer .fa-icon {
  margin: 0 5px;
}
.tetris-controls{
   margin-top: 35px;
  display: flex;
  gap: 30px;
}

.tetris-cell.filled {
  animation: fill-animation 0.1s ease-in-out; /* Decrease duration to speed up */
  background-color: inherit; /* Use a static color */
  transition: none; /* Remove any transition effects */
  animation: none; /* Remove any animations */
}
@keyframes fill-animation {
  from {
    background-color: transparent;
  }
  to {
    background-color: inherit;
  }
}

@media (max-width: 500px) and (min-height:600px){
  .tetris-cell {
    width: 34px;
    height: 27.2px;
    border: 1px solid #555;
  }
}
